Hi <%= fullName %>,
<p></p>
<div>
    Thank you for registering in MyShoppingCart. Please click on below link to confirm your registration.</div>
<p><a href=<%= url %>>link</a></p>
<div>Regards</div>
<div>MyShoppinCart</div>

