Hi <%= fullName %>,
<p></p>
<div>
    A request has been received to change the password. Clink on below link to set a new password.</div>
<p><a href=<%= url %>>link</a></p>
<div>Regards</div>
<div>MyShoppinCart</div>

