/* app css stylesheet */
html, body {
  width: auto !important;
  overflow-x: hidden !important;

}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
  background: lightblue;
  height: 30px;
  padding: 0 10px;
}

.menu > li {
  display: inline-block;
  width: 100px;
  line-height: 30px;
}

.sub-menu {
  position: absolute;
  display: none;
    background-color: lightsalmon;
  padding: 5px;
}

.sub-menu > li {
  display: block;
  cursor: pointer;
}

li:hover .sub-menu {
  display: block;
}
.horizontal-collapse {
  height: 70px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}

.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
  background: #fff;
  position: relative;
  z-index: 1;
}
.alert-info.positioned {
  margin-top: 1em;
  position: relative;
  z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}
.pics {
  width: 250px;
  height: 200px;
}
.lg_pics{
  width:350px;
  height:300px;
}
.search_pic{
  width:70px;
  height:40px;
}
/* custom rating */
.custom_rating .button .material-icons {
 font-size: 25px;
}
.comment_rating     .button .material-icons{
    font-size: 15px
}
/* custom slider */
.custom-slider.rzslider .rz-bar {
    background: #ffe4d1;
    height: 2px;
}
.custom-slider.rzslider .rz-selection {
    background: orange;
}

.custom-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
    display: none;
}

.custom-slider.rzslider .rz-bubble {
    bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
    font-weight: bold;
    color: orange;
}

.custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
    background: orange;
}
