<div class="container panel-body">
    <div class="row ">
        <div class="col-md-12 ">
            <h1>Filters</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 >Categories</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Selected Brands</h5>
            <div  ng-repeat="Selected in cm.selectedBrand" >
                <label>
                    {{Selected}}{{$last ? '' : ', '}}
                </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group row">
            <label class ="col-form-label">Search By Brand
                <input type="text"  class="form-control" ng-model="filteredText">
            </label>
        </div>
    </div>

    <div class="row" ng-repeat="Brand in cm.filteredBrands | filter :filteredText ">
        <div class="col-md-12">
            <label>
                <input type="checkbox" checklist-model="cm.filteredObjects.filteredBrand" checklist-value="Brand" checklist-change="cm.checkBrand(checked)"> {{Brand}}
            </label>
        </div>
    </div>
    <!--<div class="row" ng-repeat="Brand in cm.singleList | filter : {subType:cm.singleBrand} | filter :filteredText "
         ng-if="cm.singleBrand === 'book' ">
        <div class="col-md-12">
            <label>
                <input type="checkbox" checklist-model="cm.getBookBrands()" checklist-value="Brand" ng-change="cm.check(Brand,checked)"> {{Brand.subType}}
            </label>
        </div>
    </div>-->
    <div class="row"ng-init="cm.slideFeature()">

        <div class=col-md-3"><rzslider class="custom-slider" rz-slider-model="cm.filteredObjects.filteredPrice.minPrice"
                                       rz-slider-high="cm.filteredObjects.filteredPrice.maxPrice"
                                       rz-slider-options="cm.slider.options"></rzslider>
            <p>Min Price: {{cm.filteredObjects.filteredPrice.minPrice}}</p>
            <p>max Price: {{cm.filteredObjects.filteredPrice.maxPrice}}</p>
            <!-- <input type="number" ng-model="cm.slider.minValue"/>
             <input type="number" ng-model="cm.slider.maxValue"/>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4> Avail Offers</h4>
        </div>
    </div>
    <div class="row" ng-repeat="Brand in cm.filteredOffers">
        <div class="col-md-12">
            <label>
                <input type="checkbox" checklist-model="cm.filteredObjects.filteredOffer" checklist-value="Brand" checklist-change="cm.checkBrand()"> {{Brand}} <span>{{Brand.percentage}}</span>
            </label>
        </div>
    </div>
</div>