<div class="container panel-body">
    <div class="row panel-heading">
        <div class="col-md-12 panel-title">
            <h1>Filters</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 >Categories</h3>
        </div>
    </div>
    <div class="row" ng-repeat="Brand in cm.singleList | filter : {subType:cm.singleBrand} "
         ng-if="cm.singleBrand === 'Laptops' || cm.singleBrand === 'Mobiles' ">
        <div class="col-md-12">
            <label>
                <input type="checkbox" checklist-model="cm.getBrands()" checklist-value="Brand" ng-change="cm.check(Brand,checked)"> {{Brand.brand}}
            </label>
        </div>
    </div>
    <div class="row" ng-init="cm.slideFeature()">
        <div class=col-md-3"><rzslider class="custom-slider" rz-slider-model="cm.slider.minValue"
                                        rz-slider-high="cm.slider.maxValue"
                                        rz-slider-options="cm.slider.options"></rzslider>
            <p>Price: {{cm.slider.minValue}}</p>
            <p>Price: {{cm.slider.maxValue}}</p>
            <input type="number" ng-model="cm.slider.minValue"/>
            <input type="number" ng-model="cm.slider.maxValue"/>
        </div>
    </div>
</div>
</div>