<div class="container panel-body">
    <div class="row ">
        <div class="col-md-12 ">
            <h1>Filters</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 >Categories</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Selected Brands</h5>
            <div  ng-repeat="Selected in cm.selectBrand" >
                <label>
                    {{Selected}}{{$last ? '' : ', '}}
                </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group row">
            <label class ="col-form-label">Search By Brand
                <input type="text"  class="form-control" ng-model="filteredText">
            </label>
        </div>
    </div>

    <div class="row" ng-repeat="Brand in cm.setBrands | filter :filteredText ">
        <div class="col-md-12">
            <label>
                <input type="checkbox" checklist-model="cm.filteredObjects.filteredBrand" checklist-value="Brand" checklist-change="cm.checkBrand()"> {{Brand}}
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4> Avail Offers</h4>
        </div>
    </div>
    <div class="row" ng-if="cm.setBrands" ng-repeat="offer in cm.setOffers">
        <div class="col-md-12">
            <label>
                <input type="checkbox" checklist-model="cm.filteredObjects.filteredOffer" checklist-value="offer" checklist-change="cm.checkBrand()"> {{offer}}</span>
            </label>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" ng-if="cm.setBrands"><rzslider rz-slider-model="cm.filteredObjects.slider.minValue"
                                        rz-slider-high="cm.filteredObjects.slider.maxValue"
                                        rz-slider-options="cm.filteredObjects.slider.options"></rzslider>
        </div>
    </div>
</div>