<div class="modal-header">
    <h3 class="modal-title" id="modal-title">User Login </h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="fc.forgotForm" role="form">
        <div class="form-group" ><!--ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }"-->
            <label for="email">email</label>
            <input type="email" name="userEmail" id="userEmail" class="form-control" ng-model="fc.user.email" required />
            <span ng-show="fc.forgotForm.userEmail.$dirty && fc.forgotForm.userEmail.$error.email && fc.forgotForm.userEmail.$error.required" class="help-block">Not a valid email Id</span>
            <span ng-show="fc.forgotForm.userEmail.$dirty && fc.forgotForm.userEmail.$error.required" class="help-block">email id required</span>
            <span  ng-show="!fc.exists" class="has-error">email doesn't exists</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click ="fc.submit()">send</button>
            </div>
    </form>
</div>