<nav class="navbar  navbar-inverse bg-primary "> <!--ng-controller="NavbarController"-->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="Home">MyShoppingCart</a>
        </div>
        <!-- <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">-->
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" ui-sref="Home">Home<!--<span class="sr-only">(current)</span>--></a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Electronics<!--<span class="sr-only">(current)</span>--></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="search({productType:'Laptops'})">Laptops<!--<span class="sr-only">(current)</span>--></a></li>
                    <li><a ui-sref="search({productType:'Mobiles'})">Mobiles<!--<span class="sr-only">(current)</span>--></a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Books</a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="search({productType:'fiction'})">Fiction</a></li>
                    <li><a ui-sref="search({productType:'comic'})">Comic</a></li>
                    <li><a ui-sref="search({productType:'Laptops'})">BioGraphy</a></li>
                </ul>
            </li>
            <li style="margin-top: 8px">
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li  ng-show="hc.exists"class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">HI {{hc.oneUser.firstName}}</a>
                    <ul class="dropdown-menu">
                        <li> <a ui-sref="profile">Profile</a>  </li>
                        <li><a><button type="button" class="btn btn-primary" ng-click ="hc.logout()">Logout</button></a></li>
                    </ul>
                </li>
            <div ng-show="!hc.exists">
                <i class="fa fa-user-plus fa-3x"  ng-click ="hc.registrationModal()" aria-hidden="true"></i>
                <i class="fa fa-user fa-3x"  ng-click ="hc.loginModal()" aria-hidden="true"></i>

            </div>
        </ul>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <search-component></search-component></div>
        </div>

    </div>
</nav>

