<div class="container">
    <div class="container">
        <div class="row">
            <p class="lead">Mobiles</p>
            <home-component pro="mobile"></home-component>
        </div>
        <div class="row">
            <p class="lead">Laptops</p>
            <home-component pro="laptop"></home-component>
        </div>
        <div class="row">
            <p class="lead">Books</p>
            <home-component pro="comic"></home-component>
        </div>
    </div>
</div>

<!--<div class="container">
        <div class="row">
            <p class="lead">Laptops</p>
            <home-directive pro-type="hc.laptops"></home-directive>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="lead">Books</p>
            <home-directive pro-type="hc.Books"></home-directive>
        </div>
    </div>-->
