<div class="modal-header">
    {{lc.exists}}
    <h3 class="modal-title" id="modal-title" >User Login  </h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="lc.loginForm"  role="form">
        <div class="form-group" ><!--ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }"-->
            <label for="email">email</label>
            <input type="email" name="userEmail" id="userEmail" class="form-control" ng-model="lc.user.email" required />
            <span  ng-show="lc.loginForm.userEmail.$dirty && lc.loginForm.userEmail.$error.email" class="has-error">Not a valid email Id</span>
            <!--<span  ng-show="!lc.exists" class="help-block">{{lc.user.email}} already exists</span>-->
        </div>
        <div class="form-group" ng-class="{ 'has-error': lc.loginForm.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="lc.user.password" required />
            <span ng-show="lc.loginForm.password.$dirty && lc.loginForm.password.$error.required" >Password is required</span>
            <span ng-show="!lc.exists"> invalid email or password </span>
        </div>
        <div class="form-actions">
            <button type="submit"  ng-disabled="lc.loginForm.$invalid" class="btn btn-primary" ng-click ="lc.submit()">Login</button>
            <button class="btn btn-danger" type="button" ng-click="lc.cancel()">Cancel</button>
            <p class="help-block">
                <a class="pull-right text-muted" href="#" id="olvidado" ng-click="lc.forgotPassword()"><small>Forgot your password?</small></a>
            </p>
        </div>

    </form>

</div>