<div class="col-md-3 panel panel-primary first_panel">
    <div class="col-md-12">
        <check-boxes-component  ng-if = "pc.products" products-list="pc.products[0]" brand-type="pc.electronic_subType"></check-boxes-component>
        <slider-component  ng-if = "pc.products" slider-products="pc.products" ></slider-component>
    </div>
</div>
<div class="col-md-9 first_panel">
    <div class="col-md-4"  ng:repeat="i in pc.products " >
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <a class="search_a" ui-sref="view({id:i.product_id})">
                        <img src="{{i.pic}}" class="pics">
                        <p ng-bind="i.name"></p>
                        <p ng-bind="i.price"></p>
                        <p><ng-rate-it ng-model="i.rating" class="custom_rating"  read-only="true" ></ng-rate-it></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-4">
    test{{ec.products.offers}}
</div>
</div>

