<br><br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="row">
        <div class="col-md-5">
            <img src="{{vc.vp.pic}}" class="lg_pics">
        </div>
        <div class="col-md-7" >
            <p class="lead"><span ng-bind="vc.vp"></span></p>
    </div>
</div>
</div>
<!--
<div ng:repeat="i in products | orderBy:'-rating'| limitTo:'products.length()'" class="col-md-4">
    <div class="container">
        <a ui-sref="view({id:i.id})">
            <img src="{{i.pic}}" class="pics"></a>
        <p>Name:{{i.name}}</p>
        <p>Price:{{i.price}}</p>
        <p>Rating:{{i.rating}}</p>
    </div>-->

    <ul class="list-inline">
        <li class="list-inline-item">Lorem ipsum</li>
        <li class="list-inline-item">Phasellus iaculis</li>
        <li class="list-inline-item">Nulla volutpat</li>
    </ul>