<div class="container" ng-if =pc.profile>
    <div class="row -align-justify">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">
            <h3>User Profile</h3>
            <form class="form-horizontal" >
                <div class="form-group">
                    <label for="firstName" class="control-label col-xs-2">First Name</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="firstName" ng-readonly="true" ng-model="pc.profile.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label col-xs-2">Last Name</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="lastName"ng-readonly="true" ng-model="pc.profile.lastName"->
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-xs-2">Email</label>
                    <div class="col-xs-10">
                        <input type="email" class="form-control" id="email" ng-readonly="true" ng-model="pc.profile.email"->
                    </div>
                </div>
                <div class="form-group">
                    <label for="Phone" class="control-label col-xs-2">Phone</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="inputPassword" ng-readonly="true" ng-model="pc.profile.phoneNumber"->
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6 col-md-4"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Address</h3>
            <button type="submit" class="btn btn-primary" ng-click ="pc.addRows(    )">ADD</button>
        </div>
    </div>
    <div ng-show ="!pc.tableExists">table doesm't exists </div>
    <div ng-show =pc.tableExists class="row">
        <div class="col-md-12">
            <table ng-table="pc.tableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data track by $index">
                    <td data-title="'Type'" filter="{type: 'text'}" sortable="'type'" >{{row.type}}</td>
                    <td data-title="'Address Line 1'" filter="{addressLine_1: 'text'}" sortable="'addressLine_1'" ng-bind="row.addressLine_1"></td>
                    <td data-title="'Address Line 2'" filter="{addressLine_2: 'text'}" sortable="'addressLine_2'" ng-bind="row.addressLine_2"></td>
                    <td data-title="'Street'" filter="{street: 'text'}" sortable="'street'" ng-bind="row.street"></td>
                    <td data-title="'City'" filter="{city: 'text'}" sortable="'city'" ng-bind="row.city"></td>
                    <td data-title="'State'" filter="{state: 'text'}" sortable="'state'" ng-bind="row.state"></td>
                    <td data-title="'Country'" filter="{country: 'text'}" sortable="'country'"ng-bind="row.country"></td>
                    <td data-title="'Zipcode'" filter="{zipcode: 'number'}" sortable="'zipcode'"ng-bind="row.zipcode"></td>
                    <td data-title="'Actions'">
                        <button type="button"  class="glyphicon glyphicon-edit" ng-click="pc.editRow(row)"></button>
                            <button type="button" ng-click="pc.deleteRow(row)" class="glyphicon glyphicon-remove-circle"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
