
<div class="container" ng-if =pc.profile>
    <div class="row justify-content-md-center">
                <h2>User profile</h2>
                <div class="col-md-6">
                    <div class="row justify-content-md-center">
                        <div class="col-4 ">
                            <p>First Name:
                                <input ng-model="pc.profile.firstName" ng-readonly="true"/>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>Last Name:
                                <input ng-model="pc.profile.lastName" ng-readonly="true"/>
                            </p>
                        </div>
                    </div>

                </div>



        <div class="col-md-6">
            <div class="row justify-content-md-center">
                <div class="col-4">
                    <p>email Address:
                        <input ng-model="pc.profile.email" ng-readonly="true"/>
                    </p>
                </div>
                <div class="col-4">
                    <p>Phone Number:
                        <input ng-model="pc.profile.phoneNumber" ng-readonly="true"/>
                    </p>
                </div>
            </div>
        </div>
    </div>

<div > working Address Body</div>
<!--
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            1 of 3
        </div>
        <div class="col-12 col-md-auto">
            Variable width content
        </div>
        <div class="col col-lg-2">
            3 of 3
        </div>
    </div>-->
