<h2>ewsetPassword</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Reset Password!</h1>
            <form name="form" ng-submit="rp.resetPassword()" role="form" ng-controller="resetPasswordCtrl as rp">
                <div class="form-group" ><!--ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }"-->
                    <label for="email">email</label>
                    <input type="email" name="userEmail" id="userEmail" class="form-control" ng-model="rp.user.email" required />
                    <span ng-if="!rp.exists" ng-show="form.userEmail.$dirty && form.userEmail.$error.email" class="help-block">Not a valid email Id</span>
                    <span  ng-show="rp.exists" class="help-block">{{rp.user.email}} already exists</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="rp.user.password"  ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required />
                    <span ng-show="form.password.$dirty && form.password.$error.pattern" class="help-block">Password is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.confirmPassword.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="rp.user.confirmPassword"  ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required />
                    <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click ="rp.submit()">Login</button>
                </div>

            </form>

        </div>
    </div>
</div>
