<div class="container">
    <div class="row">
       <div class="col-xs-4"><rzslider class="custom-slider" rz-slider-model="slc.slider.minValue"
                                   rz-slider-high="slc.slider.maxValue"
                                   rz-slider-options="slc.slider.options"></rzslider>
       <p>Price: {{slc.slider.minValue}}</p>
       <p>Price: {{slc.slider.maxValue}}</p>
       <input type="number" ng-model="slc.slider.minValue"/>
       <input type="number" ng-model="slc.slider.maxValue"/>
   </div>
</div>
</div>